{% extends 'baseAdmin.html.twig' %}

{% block title %}
    Business Finder - Admin
{% endblock %}

{% block body %}
    <h2> Business</h2>
    <a href="/admin/cadastro">Add Bussines</a><br><br>
    <ul>
        {% for empresa in empresas %}
            <h2>{{ empresa.id }}. {{ empresa.titulo }}</h2>
            <p>_____________________________</p>
        {% endfor %}
    </ul>
{% endblock %}